* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    scrollbar-width: none;
}

.body4 {
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/background3.jpg) !important;
    background-size: cover;
    background-position: center;
    position: relative;
}


header {
    position: relative;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}

.logo>img {
    margin-top: 10px;
    margin-left: 70px;
    width: 150px;
    height: 60px;
}

.navbar {
    margin-right: 100px;
    font-size: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.navbar>.nav {
    color: #aaa;
    text-decoration: none;
}

.navbar>a:hover {
    color: black;
    text-decoration: none;
}


.sectionC {
        min-height: 100vh;
            width: 100%;
    background-color: rgba(0, 0, 0, 0.8) !important;
    position: relative;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
}

.containerC {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.section-header {
    margin-bottom: 50px;
    text-align: center;
}

.section-header h2 {
    color: #FFF;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
}

.section-header p {
    color: #FFF;
}



.contact-info {
    width: 50%;
}

.contact-info-item {
    display: flex;
    margin-bottom: 30px;
}

.contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
}

.contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
}

.contact-info-content {
    margin-left: 20px;
}

.contact-info-content h4 {
    color: #1da9c0;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.contact-info-content p {
    color: #FFF;
    font-size: 1em;
}

.contact-form {
    margin-left: 200px;
    background-color: #fff;
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus~span,
.contact-form .input-box textarea:focus~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.send-box{
    padding-left: 200px;
    width: 100%;
    margin-left: -100px;
}

.send{
    width: 100%;
    background: #00bcd4;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #00bcd4;
    transition: 0.5s;
}

.send:hover {
    width: 100%;
    background: #FFF;
    color: #00bcd4;
}

@media (max-width: 991px) {
    section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .row {
        flex-direction: column;
    }

    .contact-info {
        margin-bottom: 40px;
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }
}