/* SavedMeals.css */

.mealsBody {
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px;
}

.mealsContainer {
  /* max-width: 800px; */
  margin: 0 auto;
  background-color: black;
  color: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mealItem {
  color: black;
  margin: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.mealItem h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.mealItem p {
  background-color: white;
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}

.mealDetailItem {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
}

.mealDetailItem h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.mealDetailItem div {
  font-size: 14px;
  color: #333;
}

.mealTotal {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.mealTotal p {
  font-size: 14px;
  color: #333;
  margin: 5px 0;
}
